<%- include("../shared/_header"); %>
<div class="container mt-4">
    <h2 class="mb-4">Hey Guys! Upload an Image</h2>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <div class="custom-file mb-3">
            <input type="file" class="custom-file-input" id="myImage" name="myImage">
            <label class="custom-file-label" for="myImage">Choose file</label>
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</div>

<%- include("../shared/_footer"); %>

