<%- include("../shared/_header"); %>
<div class="container">
    <h1 class="display-4">Content Management System</h1>
    <p class="lead">For more information, visit our <a href="/about">page</a>.</p>
</div>
<%- include("../shared/_footer"); %>